[Unit]
Description=Prison Guard Interface Setup
Requires=prison-ns.service guard-ns.service
After=prison-ns.service guard-ns.service
Before=prisonguard.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/share/prison-guard/interface-setup.sh start
ExecStop=/usr/local/share/prison-guard/interface-setup.sh stop
